# ----------------------
# Node / Angular
# ----------------------
node_modules/
dist/
.angular/
coverage/

# ----------------------
# Spring Boot / Java
# ----------------------
target/
*.jar
*.class

# ----------------------
# IDE
# ----------------------
.vscode/
.idea/
*.iml

# ----------------------
# OS
# ----------------------
.DS_Store
Thumbs.db

# ----------------------
# Logs
# ----------------------
*.log

# ----------------------
# Environment
# ----------------------
application.properties
.env